In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

C:\Users\kumud\AppData\Local\Temp\ipykernel_3656\4236444723.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
web_page=requests.get("https://en.wikipedia.org/wiki/List_of_companies_of_India")

In [5]:
 text_data=BeautifulSoup(web_page.text,"html")

In [10]:
table=text_data.find_all("table")[1]

In [13]:
column_names=table.find_all("th")

In [19]:
columns_list=[names.text.strip() for names in column_names]

In [45]:
df=pd.DataFrame(columns=columns_list)
df

Empty DataFrame
Columns: [Name, Industry, Sector, Headquarters, Founded, Notes]
Index: []

In [46]:
column_data=table.find_all("tr")

In [47]:
for data in column_data[1:]:
    rows_data=data.find_all("td")
    individual_rows_data=[data.text.strip() for data in rows_data]
    length=len(df)
    df.loc[length]=individual_rows_data

In [48]:
df

,Name,Industry,Sector,Headquarters,Founded,Notes
0,Aban Offshore,Oil & gas,Exploration & production,Chennai,1986,"Oil, petrochemical"
1,ABG Shipyard,Industrials,Shipbuilding,Ahmedabad,1985,Ship engineering
2,ABP Group,Consumer services,Broadcasting & entertainment,Kolkata,1922,"Media, news"
3,ACC Limited,Industrials,Building materials & fixtures,Mumbai,1936,Cement
4,ACG Group,Conglomerate,Pharmaceutical materials & machinery,Mumbai,1961,Machinery
...,...,...,...,...,...,...
475,Zee News,Consumer services,Broadcasting & entertainment,Mumbai,1999,News channel
476,Zensar Technologies,Technology,Software,Pune,1991,IT services and software
477,Zeta,Finance,Fintech,Mumbai,2015,Fintech
478,Zoho Corporation,Technology,Software,Chennai,1996,Business management software
479,Zomato,Technology,Internet,Gurugram,2008,Food delivery